<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityCode</key>
		<string>AR06513</string>
		<key>cityName</key>
		<string>北京</string>
		<key>firstLetter</key>
		<string>B</string>
		<key>pinyin</key>
		<string>BeiJing</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR00252</string>
		<key>cityName</key>
		<string>广州</string>
		<key>firstLetter</key>
		<string>G</string>
		<key>pinyin</key>
		<string>GuangZhou</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR05223</string>
		<key>cityName</key>
		<string>深圳</string>
		<key>firstLetter</key>
		<string>S</string>
		<key>pinyin</key>
		<string>ShenZhen</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR02960</string>
		<key>cityName</key>
		<string>武汉</string>
		<key>firstLetter</key>
		<string>W</string>
		<key>pinyin</key>
		<string>WuHan</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR04177</string>
		<key>cityName</key>
		<string>成都</string>
		<key>firstLetter</key>
		<string>C</string>
		<key>pinyin</key>
		<string>ChengDou</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR00357</string>
		<key>cityName</key>
		<string>重庆</string>
		<key>firstLetter</key>
		<string>C</string>
		<key>pinyin</key>
		<string>ChongQing</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR04567</string>
		<key>cityName</key>
		<string>上海</string>
		<key>firstLetter</key>
		<string>S</string>
		<key>pinyin</key>
		<string>ShangHai</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR02503</string>
		<key>cityName</key>
		<string>西安</string>
		<key>firstLetter</key>
		<string>X</string>
		<key>pinyin</key>
		<string>XiAn</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR03026</string>
		<key>cityName</key>
		<string>长沙</string>
		<key>firstLetter</key>
		<string>C</string>
		<key>pinyin</key>
		<string>ChangSha</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR04257</string>
		<key>cityName</key>
		<string>天津</string>
		<key>firstLetter</key>
		<string>T</string>
		<key>pinyin</key>
		<string>TianJin</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR01057</string>
		<key>cityName</key>
		<string>南京</string>
		<key>firstLetter</key>
		<string>N</string>
		<key>pinyin</key>
		<string>NanJing</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR01984</string>
		<key>cityName</key>
		<string>贵阳</string>
		<key>firstLetter</key>
		<string>G</string>
		<key>pinyin</key>
		<string>GuiYang</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR00907</string>
		<key>cityName</key>
		<string>南昌</string>
		<key>firstLetter</key>
		<string>N</string>
		<key>pinyin</key>
		<string>NanChang</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR00485</string>
		<key>cityName</key>
		<string>济南</string>
		<key>firstLetter</key>
		<string>J</string>
		<key>pinyin</key>
		<string>JiNan</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR03008</string>
		<key>cityName</key>
		<string>郑州</string>
		<key>firstLetter</key>
		<string>Z</string>
		<key>pinyin</key>
		<string>ZhengZhou</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR00265</string>
		<key>cityName</key>
		<string>厦门</string>
		<key>firstLetter</key>
		<string>X</string>
		<key>pinyin</key>
		<string>XiaMen</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR03983</string>
		<key>cityName</key>
		<string>杭州</string>
		<key>firstLetter</key>
		<string>H</string>
		<key>pinyin</key>
		<string>HangZhou</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR05649</string>
		<key>cityName</key>
		<string>青岛</string>
		<key>firstLetter</key>
		<string>Q</string>
		<key>pinyin</key>
		<string>QingDao</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR01840</string>
		<key>cityName</key>
		<string>哈尔滨</string>
		<key>firstLetter</key>
		<string>H</string>
		<key>pinyin</key>
		<string>HaErBin</string>
	</dict>
	<dict>
		<key>cityCode</key>
		<string>AR04032</string>
		<key>cityName</key>
		<string>珠海</string>
		<key>firstLetter</key>
		<string>Z</string>
		<key>pinyin</key>
		<string>ZhuHai</string>
	</dict>
</array>
</plist>
